{% extends "website/_layouts/base.html" %}

{% block title %}Lista de Empresas{% endblock %}

{% load primeira_letra %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Empresa</h5>

          {% if empresas|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Empresas</code> cadastradas.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">CNPJ</th>
                <th scope="col" class="text-center">Ações</th>
              </tr>
              </thead>
              <tbody>
              {% for empresa in empresas %}
                <tr>
                  <th scope="row">{{ empresa.nome|primeira_letra }}</th>
                  <td>{{ empresa.nome }}</td>
                  <td>{{ empresa.cnpj }}</td>
                  <td class="text-center">
                    <a href="{% url 'website:atualiza_empresa' pk=empresa.id %}"
                       class="btn btn-primary">
                      Atualizar
                    </a>
                    <a href="{% url 'website:deleta_empresa' pk=empresa.id %}"
                      class="btn btn-danger">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Empresa</code> cadastrada ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'website:cadastra_empresa' %}" class="btn btn-primary">
              Cadastrar Empresa
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}